.turkey{
    background-color: rgb(220, 128, 41);
    border-size: 3px;
    border-radius: 80%;

}

body{
   background-color: rgb(140, 71, 19);
}
 
p{
   color:white;
}
footer{
   
}
section{
   border-size: 3px;
   border: dotted;
   border-color: black;
   padding: 3px;
   margin-top: 4px;
}
header{
   text-align: center;
}
span{
   color:red;
   font-size:40px;
}

#recipe-page{
   text-align:center;
}
#ingredients{text-align:left;
font-size:20px;
color:white;
background-color: black;}
.ty{
   font-size: 40px;
}